<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   myconfig.plist
   config-reader-ios

   Created by Rajiv Ramdhany on 08/12/2016.
   Copyright (c) 2016 ramdhany. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
